<div class="jumbotron">
  <%= scrivito_tag :h3, widget, :headline %>

  <%= scrivito_tag :p, widget, :description %>

  <p>
    <%= link_to "go to destination", widget.destination, class: 'btn btn-primary btn-large', target: '_blank' %>
  </p>

</div>